.header__logo {
  padding-top: 10px;
  padding-bottom: 36px;
  width: 144px;
}


@media only screen and (max-width: 425px) {
  .header__logo {
    padding-top: 27px;
    padding-left: 27px;
    width: 105px;
    padding-bottom: 26px;
  }
}