.auth__input-error {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #ff0000;
        min-height: 24px;
        opacity: 1;
        margin: 0 0 6px;

}