.auth__content {
    max-width: 358px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}


@media only screen and (max-width: 425px) {
    .auth__content {
        margin-top: 6px;

    }
  }
