.profile__form {
    display: flex;
    max-width: 450px;
    flex-direction: row;
    align-items: stretch;
}

@media only screen and (max-width: 768px) {
    .profile__form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        justify-content: center;
    }
}