.auth__title{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    
    margin: 0;
    padding: 0 0 50px
    }



<<<<<<< HEAD
=======

  
>>>>>>> 0276fcb797730653a1614ab5a2d17d7753d805b7
