.cards__delete {
  width: 19px;
  height: 36px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/Trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cards__delete:hover {
  opacity: 0.6;
}