.cards__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
}


@media only screen and (max-width: 425px) {
  .cards__form {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}