.items {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding-top: 45px;
    grid-template-columns: repeat(1, 284fr 284fr 284fr);
    gap: 18px 13px;
  }